@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

html {
  font-family: "Roboto", sans-serif;
  color: rgba(234, 199, 3, 0.87);

  background-color: black;
}
a {
  display: inline;
  font-family: "Gloria Hallelujah", cursive;
  color: grey;
  
}
nav {
  text-align: end;
}
