/* !------------------- navbar style ----------------------- */
nav {
  text-align: end;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
}
.nav-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.79);
}
.nav-list li a:hover {
  color: gold;
}
/* dropdown menu */
#contact-dropdown {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  width: 120px;
  top: 50px;
  right: 0;
  color: darkred;
  background-color: gray;
  text-align: left;
  padding: 0;
}
.dropdown li {
  list-style: none;
}
#contact-dropdown:hover ul.dropdown {
  display: block;
}
