/* !------------------- navbar style ----------------------- */
nav {
  text-align: end;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
}
.nav-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.79);
}
.nav-list li a:hover {
  color: gold;
}
